<h1>Vítejte</h1>

právě jste se registrovali na stránce <a href="{link //Homepage:}">volná nabídka</a>.
<br>
Tento server vám pomůže s hledáním zakázek a práce, jako i najímání lidí na různé úkoly.
<br>
Pro přihlášení používejte následující iniciály
<table>
    <tr>
        <th>Email</th>
        <td>{$mail}</td>
    </tr>
    <tr>
        <th>Heslo:</th>
        <td>{$pass}</td>
    </tr>
</table>

Děkujeme a doufáme, že se vám u nás bude líbit.

<br>
<br>
<br>
Tým volnanabidka.cz