{block head}
    <link href="{$basePath}/css/register.css" type="text/css" rel="stylesheet"/>
    <meta name="robots" content="index, follow">
{/block}

{block #title}Registrace{/block}

{block content}
<h1 class="grid_8 prefix_2 suffix_2 registerHeadline">Registrace do systému Volná Nabídka</h1>
<div class="grid_8 prefix_2 suffix_2">
    {control register}
</div>
